USE [master]
GO
/****** Object:  Database [fabric]    Script Date: 23.12.2022 11:36:58 ******/
CREATE DATABASE [fabric]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fabric', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\fabric.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fabric_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\fabric_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fabric].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fabric]
GO
/****** Object:  Table [dbo].[furnit]    Script Date: 23.12.2022 11:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[furnit](
	[article_furnit] [nvarchar](100) NOT NULL,
	[name_furnit] [nvarchar](100) NOT NULL,
	[shirin] [nvarchar](50) NULL,
	[dlin] [nvarchar](50) NULL,
	[type] [nvarchar](50) NOT NULL,
	[price] [nvarchar](50) NOT NULL,
	[ves] [nvarchar](50) NOT NULL,
	[img] [nvarchar](50) NULL,
 CONSTRAINT [PK_furnit] PRIMARY KEY CLUSTERED 
(
	[article_furnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[furnit_item]    Script Date: 23.12.2022 11:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[furnit_item](
	[article_furnit] [int] NOT NULL,
	[article_item] [int] NOT NULL,
	[razmeshenie] [nvarchar](50) NOT NULL,
	[shirina] [nvarchar](50) NOT NULL,
	[dlina] [nvarchar](50) NOT NULL,
	[povorot] [nvarchar](50) NOT NULL,
	[quant] [int] NOT NULL,
 CONSTRAINT [PK_furnit_item] PRIMARY KEY CLUSTERED 
(
	[article_furnit] ASC,
	[article_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item]    Script Date: 23.12.2022 11:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[article_item] [nvarchar](100) NOT NULL,
	[name_item] [nvarchar](100) NOT NULL,
	[shirina] [nvarchar](50) NOT NULL,
	[dlina] [nvarchar](50) NOT NULL,
	[price] [nvarchar](50) NULL,
	[img] [nvarchar](50) NULL,
	[comment] [nvarchar](50) NULL,
 CONSTRAINT [PK_item] PRIMARY KEY CLUSTERED 
(
	[article_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sklad_furnit]    Script Date: 23.12.2022 11:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sklad_furnit](
	[partya] [int] NOT NULL,
	[article_furnit] [int] NOT NULL,
	[quant] [int] NOT NULL,
 CONSTRAINT [PK_sklad_furnit] PRIMARY KEY CLUSTERED 
(
	[partya] ASC,
	[article_furnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sklad_tkani]    Script Date: 23.12.2022 11:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sklad_tkani](
	[rulon] [int] NOT NULL,
	[article_tkani] [int] NOT NULL,
	[dlina] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_sklad_tkani] PRIMARY KEY CLUSTERED 
(
	[rulon] ASC,
	[article_tkani] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tkani]    Script Date: 23.12.2022 11:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkani](
	[article_tkani] [nvarchar](50) NOT NULL,
	[name_tkani] [nvarchar](50) NULL,
	[color] [nvarchar](50) NOT NULL,
	[risunok] [nvarchar](50) NOT NULL,
	[sostav] [nvarchar](50) NULL,
	[shirina] [nvarchar](50) NOT NULL,
	[dlin] [nvarchar](50) NULL,
	[price] [nvarchar](50) NULL,
	[img] [nvarchar](50) NULL,
 CONSTRAINT [PK_tkani] PRIMARY KEY CLUSTERED 
(
	[article_tkani] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tkani_item]    Script Date: 23.12.2022 11:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkani_item](
	[article_tkani] [int] NOT NULL,
	[article_item] [int] NOT NULL,
 CONSTRAINT [PK_tkani_item] PRIMARY KEY CLUSTERED 
(
	[article_tkani] ASC,
	[article_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 23.12.2022 11:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[login] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL,
	[role] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[login] ASC,
	[pass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zakaz]    Script Date: 23.12.2022 11:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zakaz](
	[id_zakaz] [int] NOT NULL,
	[date] [date] NOT NULL,
	[vipolnenie] [nvarchar](50) NOT NULL,
	[zakazchik] [nvarchar](50) NOT NULL,
	[manager] [nvarchar](50) NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_zakaz] PRIMARY KEY CLUSTERED 
(
	[id_zakaz] ASC,
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zakaz_item]    Script Date: 23.12.2022 11:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zakaz_item](
	[article_item] [int] NOT NULL,
	[id_zakaz] [int] NOT NULL,
	[quant] [int] NOT NULL,
 CONSTRAINT [PK_zakaz_item] PRIMARY KEY CLUSTERED 
(
	[article_item] ASC,
	[id_zakaz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[furnit] ([article_furnit], [name_furnit], [shirin], [dlin], [type], [price], [ves], [img]) VALUES (N' 2807 ТУ ', N'Лента шторная 25 мм', N'25мм', N'', N'Лента ', N'0,19 ₽', N'27 гр', NULL)
INSERT [dbo].[furnit] ([article_furnit], [name_furnit], [shirin], [dlin], [type], [price], [ves], [img]) VALUES (N' B-1512', N'Бретели для бюстгальтеров "Gamma" B-15 в блистере 15 мм прозрачный', N'5 мм', N'15 мм', N'Бретели', N'116,00 ₽', N'13 гр', NULL)
INSERT [dbo].[furnit] ([article_furnit], [name_furnit], [shirin], [dlin], [type], [price], [ves], [img]) VALUES (N' FER-05', N'"Zlatka" FER-05 Застежка для сумки ', N'205 мм', N'70 мм', N'Застежка', N'565,00 ₽', N'3 гр', NULL)
GO
INSERT [dbo].[item] ([article_item], [name_item], [shirina], [dlina], [price], [img], [comment]) VALUES (N'001.427.40', N'Простыня', N'260 см', N'150 см', N'', NULL, NULL)
INSERT [dbo].[item] ([article_item], [name_item], [shirina], [dlina], [price], [img], [comment]) VALUES (N'001.635.58', N'Простыня', N'100 см', N'150 см', N'', NULL, NULL)
INSERT [dbo].[item] ([article_item], [name_item], [shirina], [dlina], [price], [img], [comment]) VALUES (N'001.745.14', N'Полотенце кухонное', N'70 см', N'50 см', N'', NULL, NULL)
GO
INSERT [dbo].[tkani] ([article_tkani], [name_tkani], [color], [risunok], [sostav], [shirina], [dlin], [price], [img]) VALUES (N'1015', N'Атлас однотонный "Топленое молоко"', N'белый', N'однотонная', N'100% полиэстер', N'150 см', N'100 см', N' 220,00 ₽ ', NULL)
INSERT [dbo].[tkani] ([article_tkani], [name_tkani], [color], [risunok], [sostav], [shirina], [dlin], [price], [img]) VALUES (N'1016', N'Атлас однотонный "Волна"', N'синий', N'однотонная', N'100% полиэстер', N'150 см', N'100 см', N' 220,00 ₽ ', NULL)
INSERT [dbo].[tkani] ([article_tkani], [name_tkani], [color], [risunok], [sostav], [shirina], [dlin], [price], [img]) VALUES (N'1017', N'Атлас однотонный "Молодая трава"', N'зеленый', N'однотонная', N'100% полиэстер', N'150 см', N'100 см', N' 220,00 ₽ ', NULL)
GO
INSERT [dbo].[user] ([login], [pass], [role], [name]) VALUES (N'director', N'3333', N'director', N'jenya')
INSERT [dbo].[user] ([login], [pass], [role], [name]) VALUES (N'kladovshik', N'4444', N'kladovshik', N'egor')
INSERT [dbo].[user] ([login], [pass], [role], [name]) VALUES (N'manager', N'1111', N'manager', N'ivan')
GO
USE [master]
GO
